# Virtual Env
../.venv/

# Config and credentials
user_credentials.json
clearml_config.json
token_stored.json
.env

# Logs
messages.json

# File system
.idea/
__pycache__/
*.pyc

# Database
snap4events.db